<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
	<section class="footer_container">
		<nav>
			<ul class="footer_nav">
				<li>
					<a>HOME</a>
				</li>
				<li>
					<a>COMPANY</a>
				</li>
				<li>
					<a>AGREEMENT</a>
				</li>
				<li>
					<a>PRIVACY</a>
				</li>
				<li>
					<a>GUIDE</a>
				</li>
			</ul>
		</nav>
		<ul class="footer_second">
			<li>
				<span>(주)훈즈</span>
			</li>
			<li>
				<span>CEO : 김정훈</span>
			</li>
			<li>
				<span>BUSINESS REG NO.:123456789</span>
			</li>
			<li>
				<span>E-COMMERCE PERMIT : 제2023-양주옥정-0211호</span>
			</li>
		</ul>
		<p class="footer_third">
			<a>
				[사업자정보확인]
			</a>
		</p>
		<ul class="footer_fourth">
			<li>
				<span>TEL : 010-3065-0673</span>
			</li>
			<li>
				<span>ADDRESS : 양주시 옥정동 옥정동로 190 11층 HOONS</span>
			</li>
		</ul>
		<p class="cpo">
			<span>CPO:김정훈(rlawjdgns1234@naver.com)</span>
		</p>
		<p class="copyright">
			
		</p>
	</section>
</footer>

</html>