<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
	<section id="header_container">
		<div class="header_top flex">
			<ul class="flex">
				<li sec:authorize="hasRole('ADMIN')">
					<a href="/admin">ADMIN</a>
				</li>
				<li>
					<a href="#">MYPAGE</a>
				</li>
				<li sec:authorize="isAnonymous()">
					<a href="/login">LOGIN</a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a href="/logout">LOGOUT</a>
				</li>
			</ul>
		</div>
		<div class="header_logo_area">
			<a href="/">
				<img src="/images/HoonsLogo.jpg">
			</a>
		</div>
		<div class="header_bottom flex">
			<nav class="left-nav">
				<ul class="flex">
					<li>
						<a href="#">ALL</a>
					</li>
				</ul>
			</nav>
			<nav class="right-nav">
				<ul class="flex">
					<li>
						<a href="/notices">NOTICE</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</header>
</html>