<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org">

<header th:fragment="header">
	<section id="header_container">
		<div class="header_top flex">
			<ul class="flex">
				<li>
					<a href="#">LOGIN</a>
				</li>
				<li>
					<a href="#">JOIN</a>
				</li>
				<li>
					<a href="#">NOTICE</a>
				</li>
			</ul>
		</div>
		<div class="header_logo_area">
			<img>
		</div>
		<div class="header_bottom flex">
			<nav>
				<ul class="flex">
					<li>
						<a href="#">BEST</a>
					</li>
					<li>
						<a href="#">MODEL_INFO</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</header>
</html>