<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(myhead, mymain)">
<head>
	<meta charset="UTF-8">
	<title>Hoons</title>
	<link rel="stylesheet" href="/css/layout/header.css">
	<link rel="stylesheet" href="/css/layout/footer.css">
	<link rel="stylesheet" href="/css/layout/reset.css">
	<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
	<th:block th:replace="${myhead}"></th:block>
</head>
<body>
	<th:block th:replace="~{layout/header::header}"></th:block>
	
	<th:block th:replace="${mymain}"></th:block>
	
	<th:block th:replace="~{layout/footer::footer}"></th:block>
</body>


</html>