<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout :: layout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/board/detail.css">

</head>
<main>
	<div class="main_container">
		<div class="title-area">
			<h2>NOTICE</h2>
			<p>공지사항입니다.</p>
		</div>
		<div class="notice">
			<div class="notice-title">
				<h2>[[${dto.title}]]</h2>
			</div>
			<div class="view-info">
				<div>
					<span class="bold">[[${dto.writer}]]</span> <span th:text="${#temporals.format(dto.createdDateTime, 'yyyy-MM-dd hh:mm:dd')}"></span>
				</div>
				<div>
					<span class="bold">조회수</span>
					<span>[[${dto.readCount}]]</span>
				</div>
			</div>
			<div class="content">
				[(${dto.content})]
			</div>
			<div class="view-line">
				<div class="line"></div>
			</div>
		</div>
	</div>
</main>
</html>