<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/my-layout :: layout(~{this::head},~{this::main} )}">
<head>
<link rel="stylesheet" href="/css/board/notice.css">

</head>
<main>
	<div class="main_container">
		<div class="title-area">
			<h2>NOTICE</h2>
			<p>공지사항입니다.</p>
		</div>
		<div class="table-area">
			<table>
				<colgroup>
					<col style="width: 7%">
					<col style="width: 39%">
					<col style="width: 13%">
					<col style="width: 8%">
					<col style="width: 16%">
				</colgroup>
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>날짜</th>
						<th>작성자</th>
						<th>조회</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dto : ${list.dtoList}">
						<td>[[${dto.no}]]</td>
						<td><a class="subject" th:href="|/notices/${dto.no}|">[[${dto.title}]]</a></td>
						<td th:text="${#temporals.format(dto.createdDateTime, 'yyyy-MM-dd')}"></td>
						<td>[[${dto.writer}]]</td>
						<td>[[${dto.readCount}]]</td>
					</tr>
				</tbody>
			</table>
			<ul class="page-list">
				<li class="page-item" th:if="${list.prev}"><a
					class="page-link"
					th:href="@{/notices(page=${list.start -1})}"
					tabindex="-1">Previous</a></li>

				<li th:each="page:${list.pageList}"><a
					th:href="@{/notices(page=${page})}">[ [[${page}]] ] </a></li>

				<l1 class="page-item" th:if="${list.next}"> <a
					class="page-link"
					th:href="@{/notices(page=${list.end+1})}">[ Next ]</a> </l1>
			</ul>
		</div>
	</div>
</main>
</html>