<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">

<head>
	<link rel="stylesheet" href="/css/sign/login.css">
</head>

<body>
	<main class="container">
		<div class="login_area">
			<h2 class="login_title">로그인</h2>
			<form action="/login" method="post">
				<div>
					<label for="email">이메일</label>
					<input type="text" id="email" name="email" required>
				</div>
				<div>
					<label for="pass">비밀번호</label>
					<input type="password" id="pass" name="pass" required>
				</div>
				<div class="button_area">
					<button class="login_button"><span>로그인</span></button>
				</div>
				<ul class="login_sub_box">
					<li><a href="/join">회원가입</a></li>
					<li><a href="#">아이디찾기</a></li>
					<li><a href="#">비밀번호찾기</a></li>
				</ul>
			</form>
		</div>
	</main>
</body>

</html>