<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<main>
		<div class="main_container">
			<div class="list_title">
				<span>BEST</span>
			</div>
			<ul class="item_list">
				<li>
					<div class="item_list_info">
						<div class="item_image">
							<img src="/images/picture1.jpg">
						</div>
						<div class="item_color">
							<span>컬러가 들어가</span>
						</div>
						<div class="item_name">
							<span>센 와이드 원턱 코튼 팬츠 4 Color</span>
						</div>
						<div class="item_price">
							<span>&#8361;58,000</span>
						</div>
						<div class="item_icon">
							
						</div>
					</div>
				</li>
				<li>
					<div class="item_list_info">
						<div class="item_image">
							<img src="/images/picture2.jpg">
						</div>
						<div class="item_color">
							
						</div>
						<div class="item_name">
							
						</div>
						<div class="item_price">
							
						</div>
						<div class="item_icon">
							
						</div>
					</div>
				</li>
				<li>
					<div class="item_list_info">
						<div class="item_image">
							<img src="/images/picture3.jpg">
						</div>
						<div class="item_color">
							
						</div>
						<div class="item_name">
							
						</div>
						<div class="item_price">
							
						</div>
						<div class="item_icon">
							
						</div>
					</div>
				</li>
				<li>
					<div class="item_list_info">
						<div class="item_image">
							<img src="/images/picture4.jpg">
						</div>
						<div class="item_color">
							
						</div>
						<div class="item_name">
							
						</div>
						<div class="item_price">
							
						</div>
						<div class="item_icon">
							
						</div>
					</div>
				</li>
				<li>
					<div class="item_list_info">
						<div class="item_image">
							<img src="/images/picture5.jpg">
						</div>
						<div class="item_color">
							
						</div>
						<div class="item_name">
							
						</div>
						<div class="item_price">
							
						</div>
						<div class="item_icon">
							
						</div>
					</div>
				</li>
				
			</ul>
		</div>
	</main>
</body>
</html>