<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">
<head>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<main>
		<div class="main_container">
			<div class="list_title">
				<span>New arrivals</span>
			</div>
			<ul class="item_list">
				<li th:each="newGoods : ${newList}">
					<div class="item_list_info">
						<div class="item_image">
							<a th:href="|goods/${newGoods.no}|"><img th:src="|${newGoods.imgs.get(0).url}|"></a>
						</div>
						<div class="item_name">
							<a th:href="|goods/${newGoods.no}|"><span>[[${newGoods.name}]]</span></a>
						</div>
						<div class="item_price">
							<span>[[${#numbers.formatInteger(newGoods.price, 1, 'COMMA')}]]</span><span>원</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</main>
</body>
</html>