<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout/admin-layout::layout(~{this::head}, ~{this::admin_main})}">

<head>
	<link rel="stylesheet" href="/css/admin/goods/detail.css">
	<script src="/js/admin/goods/change-img.js"></script>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<script src="/js/admin/goods/summerNote.js"></script>
	<script>
		function deleteGoods(element) {
			if (confirm("상품을 삭제하시겠습니까?\n\n*삭제한 상품은 복구할 수 없습니다.")) {
				var method = $("<input type='hidden' name='_method'>").val("delete");
				$(element).after(method);

				var form = $("form.regi-form");
				form.attr("enctype", "application/x-www-form-urlencoded");
				form.submit();
			} else {
				alert("취소하셨습니다.");
			}
		}
	</script>
	<script>
		function update() {
			$("#updateBtn").hide();
			$(".span").hide();
			$("#completeBtn").show();
			$(".input").show();
			$(".block").css("display", "flex");
			$(".note-frame").show();
			alert("내용을 수정한 후 완료버튼을 눌러주세요");
		}
	</script>
	<script>
		function updateChildCate(parentNo) {
			// 새로운 자식 카테고리 옵션을 추가
			let child = $('#childCategory');

			if (parentNo == 9999) {
				child.empty()
				return
			}

			$.ajax({
				type: 'GET',
				url: '/admin/cates/' + parentNo, // 자식 카테고리를 가져올 API 엔드포인트 설정
				success: function (data) {
					// 자식 카테고리 추가 전 비우기
					child.empty()
					$.each(data, function (index, category) {
						child.append('<option value="' + category.no + '">' + category.name + '</option>');
					});
				},
				error: function () {
					console.error('Failed to fetch child categories');
				}
			});
		}

	</script>
	<script>
		function updateGoods(element) {
			// 카테고리 선택 여부 확인
			let parentVal = $("#parentCategory").val()
			if(parentVal == 9999){
				alert("카테고리를 선택해주세요");
				return;
			}
			
			
			if (confirm("상품을 수정하시겠습니까?")) {
				var method = $("<input type='hidden' name='_method'>").val("put");
				$(element).after(method);
				var form = $("form.regi-form");
				form.submit();
			} else {
				alert("취소하셨습니다.");
			}
		}
	</script>
</head>

<body>
	<th:block th:fragment="admin_main">
		<h2 class="admin_list_title">상품상세</h2>
		<div class="main_content shadow">
			<form method="post" th:action="|/admin/goods/${goods.no}|" enctype="multipart/form-data" class="regi-form">
				<div class="register">
					<div class="box">
						<div class="box_left">
							<h3>
								상품번호
							</h3>
						</div>
						<div class="box_right">
							<span>[[${goods.no}]]</span>
						</div>
					</div>
					<div class="box">
						<div class="box_left">
							<h3>
								카테고리
							</h3>
						</div>
						<div class="box_right">
							<span class="span">
								[[${goods.cateDTO.parent.name}]] /
							</span>
							<span class="span">
								[[${goods.cateDTO.name}]]
							</span>
							<select id="parentCategory" onchange="updateChildCate(this.value)" class="block">
								<option value="9999">====카테고리를 선택해주세요====</option>
								<option th:each="cate : ${cateList}" th:if="${cate.parent eq null}"
									th:value="${cate.no}">[[${cate.name}]]</option>
							</select>
							<select name="cateNo" id="childCategory" class="block">
								<option th:each="category : ${categories}" th:value="${category.id}">
									[[${category.name}]]</option>
							</select>
						</div>
					</div>
					<div class="box">
						<div class="box_left">
							<h3>
								상품명
							</h3>
						</div>
						<div class="box_right">
							<span class="span">[[${goods.name}]]</span>
							<input name="name" class="input" th:value="${goods.name}">
						</div>
					</div>
					<div class="box">
						<div class="box_left">
							<h3>
								판매가
							</h3>
						</div>
						<div class="box_right">
							<span class="span">[[${#numbers.formatInteger(goods.price, 1,
								'COMMA')}]]<span>원</span></span>
							<input name="price" class="input" th:value="${goods.price}">
						</div>
					</div>
					<div class="box">
						<div class="box_left">
							<h3>
								재고수량
							</h3>
						</div>
						<div class="box_right">
							<span class="span">[[${#numbers.formatInteger(goods.stockQuantity, 1,
								'COMMA')}]]<span>EA</span></span>
							<input name="stockQuantity" class="input" th:value="${goods.stockQuantity}">
						</div>
					</div>
					<div class="box box_mainimg">
						<div class="box_left">
							<h3>
								대표이미지
							</h3>
						</div>
						<div class="box_right">
							<div class="add_img">
								<label class="btn-file span" th:each="img : ${goods.imgs}" th:if="${img.thumbnail}"
									th:style="'background-image: url(' + ${img.url} + ');'">
								</label>
								<label class="btn-file block" th:each="img : ${goods.imgs}" th:if="${img.thumbnail}"
									th:style="'background-image: url(' + ${img.url} + ');'">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<input name="newName" type="hidden" th:value="${img.newName}">
									<img src="/images/icon/add.svg">
								</label>
							</div>
						</div>
					</div>
					<div class="box box_subimg">
						<div class="box_left">
							<h3>
								서브이미지
							</h3>
						</div>
						<div class="box_right subimg">
							<div class="add_img" th:each="img : ${goods.imgs}" th:unless="${img.thumbnail}">
								<label class="btn-file span" th:style="'background-image: url(' + ${img.url} + ');'">
								</label>
								<label class="btn-file block" th:style="'background-image: url(' + ${img.url} + ');'">
									<input name="newName" type="hidden" th:value="${img.newName}">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<img src="/images/icon/add.svg">
								</label>
							</div>
							<div th:if="${goods.imgs.size() lt 5}"
								th:each="i : ${#numbers.sequence(goods.imgs.size(), 5)}">
								<label class="btn-file block">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<img src="/images/icon/add.svg">
								</label>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="box_left" style="flex-flow: column;">
							<h3>
								상품상세설명
							</h3><br>
						</div>
						<div class="box_right span">
							[(${goods.content})]
						</div>
						<th:block class="block">
							<textarea id="summernote" name="content">[(${goods.content})]</textarea>
						</th:block>
					</div>
				</div>
				<div class="button_area">
					<button type="button" id="completeBtn" onclick="updateGoods(this)">완 료</button>
					<button type="button" id="updateBtn" onclick="update()">수 정</button>
					<button type="button" onclick="deleteGoods(this)">삭 제</button>
					<button>목 록</button>
				</div>
			</form>
		</div>
	</th:block>z
</body>

</html>