<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout/admin-layout::layout(~{this::head}, ~{this::admin_main})}">

<head>
	<link rel="stylesheet" href="/css/admin/goods/register.css">
	<script src="/js/admin/goods/change-img.js"></script>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<script src="/js/admin/goods/summerNote.js"></script>
	<script>
		function updateChildCate(parentNo) {
			// 새로운 자식 카테고리 옵션을 추가
			let child = $('#childCategory');

			if (parentNo == 9999) {
				child.empty()
				return
			}

			$.ajax({
				type: 'GET',
				url: '/admin/cates/' + parentNo, // 자식 카테고리를 가져올 API 엔드포인트 설정
				success: function (data) {
					// 자식 카테고리 추가 전 비우기
					child.empty()
					$.each(data, function (index, category) {
						child.append('<option value="' + category.no + '">' + category.name + '</option>');
					});
				},
				error: function () {
					console.error('Failed to fetch child categories');
				}
			});
		}

	</script>
</head>

<body>
	<th:block th:fragment="admin_main">
		<h2 class="admin_list_title">상품등록</h2>
		<div class="main_content">
			<form method="post" action="/admin/goods" enctype="multipart/form-data" class="regi-form">
				<div class="register">
					<div class="box">
						<div class="box_left">
							<h3>
								카테고리
							</h3>
						</div>
						<div class="box_right">
							<select onchange="updateChildCate(this.value)">
								<option value="9999">====카테고리를 선택해주세요====</option>
								<option th:each="cate : ${cateList}" th:if="${cate.parent eq null}"
									th:value="${cate.no}">[[${cate.name}]]</option>
							</select>
							<select name="cateNo" id="childCategory">
								<option th:each="category : ${categories}" th:value="${category.id}">
									[[${category.name}]]</option>
							</select>
						</div>
					</div>
					<div class="box">
						<div class="box_left">
							<h3>
								상품명
							</h3>
						</div>
						<div class="box_right">
							<input name="name">
						</div>
					</div>
					<div class="box">
						<div class="box_left">
							<h3>
								판매가
							</h3>
						</div>
						<div class="box_right">
							<input name="price"><span>&#8361;</span>
						</div>
					</div>
					<div class="box">
						<div class="box_left">
							<h3>
								재고수량
							</h3>
						</div>
						<div class="box_right">
							<input name="stockQuantity"><span>EA</span>
						</div>
					</div>
					<div class="box box_mainimg">
						<div class="box_left">
							<h3>
								대표이미지
							</h3>
						</div>
						<div class="box_right">
							<div class="add_img">
								<label class="btn-file">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<img src="/images/icon/add.svg">
								</label>
							</div>
						</div>
					</div>
					<div class="box box_subimg">
						<div class="box_left">
							<h3>
								서브이미지
							</h3>
						</div>
						<div class="box_right subimg">
							<div class="add_img">
								<label class="btn-file">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<img src="/images/icon/add.svg">
								</label>
							</div>
							<div class="add_img">
								<label class="btn-file">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<img src="/images/icon/add.svg">
								</label>
							</div>
							<div class="add_img">
								<label class="btn-file">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<img src="/images/icon/add.svg">
								</label>
							</div>
							<div class="add_img">
								<label class="btn-file">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<img src="/images/icon/add.svg">
								</label>
							</div>
							<div class="add_img">
								<label class="btn-file">
									<input type="file" accept="image/*" onchange="changedImg(this)">
									<img src="/images/icon/add.svg">
								</label>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="box_left" style="flex-flow: column;">
							<h3>
								상품상세설명
							</h3><br>
							<span class="annotation">
								*이미지 저장시 클릭 후 100%로 지정해주세요
							</span>
						</div>
						<div class="box_right">
							<textarea id="summernote" name="content"></textarea>
						</div>
					</div>
				</div>
				<div class="button_area">
					<button>등 록 하 기</button>
				</div>
			</form>
		</div>
	</th:block>
</body>

</html>