<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout/admin-layout::layout(~{this::head}, ~{this::admin_main})}">

<head>
	<link rel="stylesheet" href="/css/admin/notices/register.css">
	
	<!-- 서머노트를 위해 추가해야할 부분 -->
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<script>
		$(document).ready(function () {
			$('#summernote').summernote({
				toolbar: [
					['fontname', ['fontname']],
					['fontsize', ['fontsize']],
					['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
					['color', ['forecolor', 'color']],
					['table', ['table']],
					['para', ['ul', 'ol', 'paragraph']],
					['height', ['height']],
					['insert', ['picture', 'link', 'video']],
					['view', ['fullscreen', 'help']]
				],
				height: "500",
				lang: "ko-KR",
				fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋움체', '바탕체'],
				fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'],
				callbacks: {	//여기 부분이 이미지를 첨부하는 부분
					onImageUpload: function (files) {
						uploadSummernoteImageFile(files[0], this);
					},
					onPaste: function (e) {
						var clipboardData = e.originalEvent.clipboardData;
						if (clipboardData && clipboardData.items && clipboardData.items.length) {
							var item = clipboardData.items[0];
							if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
								e.preventDefault();
							}
						}
					}
				}
			});
		});
		/**
		*이미지 파일 업로드
		*/
		function uploadSummernoteImageFile(file, editor) {
			
			var formData = new FormData();
			formData.append("goodsImg", file);
			
			$.ajax({
				data: formData,
				type: "POST",
				url: "/admin/temp-upload",
				contentType: false,
				processData: false,
				success: function (result) {
					//항상 업로드된 파일의 url이 있어야 한다.
					$(editor).summernote('insertImage', result.url);
					
					var tempkey = $("<input type='hidden' name='tempKey'>").val(result.bucketKey);
					var orgname = $("<input type='hidden' name='orgName'>").val(result.orgName);
					$(editor).after(tempkey, orgname);    
				}
			});
		}
	</script>
	<style>
		.note-editable {
			background-color: #fff;
		}
	</style>
</head>

<body>
	<th:block th:fragment="admin_main">
		<h2 class="admin_list_title">공지사항 등록</h2>
		<div class="main_content">
			<form method="post" action="/admin/notice" enctype="multipart/form-data" class="regi-form">
				<div class="register">
					<div class="box">
						<div class="box_left">
							<h3>
								제목
							</h3>
						</div>
						<div class="box_right">
							<input name="title">
						</div>
					</div>
					<div class="box">
						<div class="box_left" style="flex-flow: column;">
							<h3>
								내용
							</h3><br>
							<span class="annotation">
								*이미지 저장시 클릭 후 100%로 지정해주세요
							</span>
						</div>
						<div class="box_right">
							<textarea id="summernote" name="content"></textarea>
						</div>
					</div>
				</div>
				<div class="button_area">
					<button>등 록 하 기</button>
				</div>
			</form>
		</div>
		</div>
	</th:block>
</body>

</html>